body {
    /* display: flex; */
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    height: 7.5vh;
    padding: 10px;
}

.links-rechts {
    display: flex;
    justify-content: space-around;   
    gap: 10px; 
}

.awesome {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 20vh;
    justify-content: space-around;
}

.awesome-left h1{
    font-size: 48px; 
    font-weight: extra-bold;
    margin: -10px 0;
}

.awesome-left div{
    margin-top: 15px;
}

.information{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 30vh;
    justify-content: center;
    align-items: center;
    border: black;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;    
}

.box {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    border: 4px solid blue;
    border-radius: 10px;
    margin: 0 40px;

}

.box p {
    display: flex;
    margin-top: 90px;
    justify-content: center;
}


.thor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 17vh;
}

.thor div {
    display: flex;
    margin-top: -20px;
}

.thor p {
    font-style: italic;
    font-size: 36px;
}

.action {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 15vh;
}

.action-box {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 60px;
    background-color: blue;
    border: 4px solid blue;
    border-radius: 10px;
    margin: 25px 40px;
    justify-content: space-around;
}

.call {
    color: white;
    margin-top: 20px;
}

button {
    height: 20px;
    margin: 20px 0px;
}

.foot {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 7.5vh;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: auto;
}
